<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<?define SourcePath = "$(var.SolutionDir)MSBuild.TeamCity.Tasks\bin\$(var.CONFIGURATION)" ?>
	<?define Version = "1.0.0.0" ?>
	<Product
		Id="*"
		Name="MSBuild TeamCity Tasks $(var.Version)"
		Language="1033"
		Version="$(var.Version)"
		Manufacturer="Alexander Egorov"
		UpgradeCode="f9aadefb-a153-423c-ba07-8cf0bf0a7ca9"
	>
		<Package InstallerVersion="200" Compressed="yes" />
		
		<MajorUpgrade Schedule="afterInstallInitialize"
                 DowngradeErrorMessage="A later version of [ProductName] is already installed."/>
		
		<!--
			Check for .NET 4.0 Full
		-->
		<PropertyRef Id="WIX_IS_NETFRAMEWORK_45_OR_LATER_INSTALLED"/>
		<Condition Message="This setup requires the .NET Framework 4.5 full or higher.">
      Installed OR WIX_IS_NETFRAMEWORK_45_OR_LATER_INSTALLED
    </Condition>

		<Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

        <Property Id="ALLUSERS" Secure="yes" Value="1" />

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="MSBUILDDIR" Name="MSBuild">
					<Directory Id="INSTALLLOCATION" Name="MSBuildTeamCityTasks">
						<Component Id="MSBuildTeamCityTasksLib" Guid="65d8707c-aae9-4776-99a5-e93b4a821e5a">
							<File
								Id="MSBuild.TeamCity.Tasks.dll"
								Name="MSBuild.TeamCity.Tasks.dll"
								Source="$(var.SourcePath)\MSBuild.TeamCity.Tasks.dll"
								DiskId="1"/>
							<File
								Id="MSBuild.TeamCity.Tasks.Targets"
								Name="MSBuild.TeamCity.Tasks.Targets"
								Source="$(var.SolutionDir)MSBuild.TeamCity.Tasks.Targets"
								DiskId="1"/>
							<File
								Id="MSBuild.TeamCity.Tasks.chm"
								Name="MSBuild.TeamCity.Tasks.chm"
								Source="$(var.SolutionDir)Help\MSBuild.TeamCity.Tasks.chm"
								DiskId="1"/>
						</Component>
					</Directory>
				</Directory>
			</Directory>
			<!-- MSBuildTeamCityTasks Start menu folder -->
			<Directory Id="ProgramMenuFolder" Name="Programs">
				<Directory Id="MSBuildTeamCityTasksProgramMenuFolder" Name="MSBuild TeamCity Tasks">
					<Component Id="MSBuildTeamCityTasksProgramMenuItems" Guid="F9279723-F032-4b73-BE23-D1ECB2A4A236">
						<!-- 
							Fix ICE 38 by adding a dummy registry key that is the key for this shortcut.
							http://msdn.microsoft.com/library/en-us/msi/setup/ice38.asp
						-->
						<RegistryValue Root="HKCU" Key="Software\MSBuildTeamCityTasks" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
						<Shortcut Name="MSBuild TeamCity Tasks $(var.Version) Documentation" Target="[!MSBuild.TeamCity.Tasks.chm]" Id="MSBuildTeamCityTasksStartMenuShortcut" WorkingDirectory="MSBuildTeamCityTasks" Directory="MSBuildTeamCityTasksProgramMenuFolder" />
						<!--
							Fix ICE64 by adding a remove folder element 
							http://windowssdk.msdn.microsoft.com/en-us/library/ms704358.aspx
						-->
						<RemoveFolder Id="RemoveMSBuildTeamCityTasksProgramMenuFolder" On="uninstall" />
					</Component>
				</Directory>
			</Directory>
		</Directory>

		<Feature Id="Complete" Title="Complete Package" Level="1" AllowAdvertise="no" Absent="disallow">
			<ComponentRef Id="MSBuildTeamCityTasksLib" />
			<ComponentRef Id="MSBuildTeamCityTasksProgramMenuItems" />
		</Feature>
		
		<UIRef Id="WixUI_Minimal"/>
	</Product>
</Wix>
